header {
  background: #1b1464;
  height: 65px;

  img {
    width: 150px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      width: 20px;
      height: 2px;
      background-color: white;
    }
  }
}

nav {
  background: #ffffff;
  ul {
    list-style: none;
    gap: 4rem;

    li {
      a {
        font-size: 15px;
        color: #1b1464;
        padding-top: 20px;
        padding-bottom: 14px;
        border-bottom: 5px solid transparent;

        &.active {
          border-bottom: 5px solid #49d3ff;
        }

        img {
          width: 15px;
        }
      }
    }
  }

  button {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 576px) {
  nav {
    display: none;
    ul {
      gap: 20px;
      padding-bottom: 20px;
    }

    &.show {
      display: block;
    }
  }
}
