div {
  margin: 0 !important;
  padding: 0 !important;
}

.card-container {
  gap: 15px;
}

.top {
  height: 55px;
  margin-bottom: 10px !important;

  &.health-check {
    color: #1b1464;
    font-size: 45px;
  }

  .item {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    color: #fff;

    &.normal {
      border: 1px solid #1b1464;
      color: #1b1464;
    }

    &.available {
      background-color: #24c977;
    }

    &.critical {
      background-color: #ff4343f7;
    }

    &.inactive {
      background-color: #e0b237;
    }
  }
}

.bottom {
  color: #262626;
  font-size: 12px;
}
