<div class="d-flex card-container">
  <app-card title="Application Status">
    <div class="d-flex justify-content-between h-100">
      <div
        class="d-flex flex-column justify-content-between"
      >
        <div
          class="normal rounded-circle top align-self-center d-flex align-items-center justify-content-center"
        >
          10
        </div>
        <div class="bottom text-center">All</div>
      </div>
      <div
        class="d-flex flex-column justify-content-between"
      >
        <div
          class="available rounded-circle top align-self-center d-flex align-items-center justify-content-center"
        >
          6
        </div>
        <div class="bottom text-center">Available</div>
      </div>
      <div
        class="d-flex flex-column justify-content-between"
      >
        <div
          class="critical rounded-circle top align-self-center d-flex align-items-center justify-content-center"
        >
          4
        </div>
        <div class="bottom text-center">Critical</div>
      </div>
    </div>
  </app-card>
  <app-card title="Servers"
    ><div class="d-flex justify-content-between h-100">
      <div
        class="d-flex flex-column justify-content-between"
      >
        <div
          class="normal rounded-circle top align-self-center d-flex align-items-center justify-content-center"
        >
          4
        </div>
        <div class="bottom text-center">All</div>
      </div>
      <div
        class="d-flex flex-column justify-content-between"
      >
        <div
          class="available rounded-circle top align-self-center d-flex align-items-center justify-content-center"
        >
          2
        </div>
        <div class="bottom text-center">Active</div>
      </div>
      <div
        class="d-flex flex-column justify-content-between"
      >
        <div
          class="inactive rounded-circle top align-self-center d-flex align-items-center justify-content-center"
        >
          2
        </div>
        <div class="bottom text-center">Inactive</div>
      </div>
    </div></app-card
  >
  <app-card title="Health check counts">
    <div class="d-flex justify-content-center h-100">
      <div
        class="d-flex flex-column justify-content-between"
      >
        <div
          class="health-check rounded-circle top align-self-center d-flex align-items-center justify-content-center"
        >
          60
        </div>
        <div class="health-check bottom text-center">Counts</div>
      </div>
    </div>
  </app-card>
</div>
<app-home-table></app-home-table>
<!-- <app-table></app-table> -->
