<div class="dialog-container">
  <h2 class="font-weight-bold" mat-dialog-title>Conduct Health Check</h2>
  <div class="content">
    <mat-dialog-content class="mat-typography">
      <app-health-modal-template
        [title]="'Application'"
        [data]="applications"
      ></app-health-modal-template>
      <app-health-modal-template
        [title]="'Server'"
        [data]="servers"
      ></app-health-modal-template>
    </mat-dialog-content>
    <div class="mt-5">
      <mat-dialog-actions align="end">
        <button class="modal-cancel-button" mat-dialog-close>Cancel</button>
        <button
          class="modal-submit-button"
          [mat-dialog-close]="true"
          cdkFocusInitial
        >
          Check Health Status
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
