.home-card {
  border: 0.4px solid #707070;
  border-radius: 4px;
  width: 26vw;
  height: 170px;
  padding: 12px 14px 24px 14px;
  background-color: #fff;

  .title {
    color: #262626;
    font-size: 14px;
  }
}
