/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: muli, sans-serif !important;
  background-color: #f1f3f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border-radius: 4px;
  border: none;
  &.btn-primary {
    background-color: #49d3ff;
    color: #1b1464;
  }
}

// Overwrite material table styles
table {
  width: 100%;
  min-width: 1000px;
}

.mat-table {
  .mat-header-row {
    height: 45px;
    background: #f3f3f7 !important;
    border-bottom: 1px solid #b3b3b480 !important;

    .mat-header-cell {
      text-align: center;
      text-transform: uppercase;
      color: #000b14;
      font-weight: normal;
    }
  }
  .mat-row {
    height: 50px;
    .mat-cell {
      text-align: center;
      color: #222222;
      font-size: 12px;
      font-weight: normal !important;
    }
  }
}

// Other table styles
.table-container {
  background: #fff;
  padding: 3rem;

  .filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

    .filters {
      display: flex;
      align-items: center;
      gap: 15px;

      .search {
        height: 35px;
        position: relative;

        input {
          height: 100%;
          border: none;
          background-color: #f3f3f7;
          padding: 0 30px;
          width: 300px;
          font-size: 11.5px;

          &:focus {
            outline: none;
          }
        }

        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          width: 15px;
        }
      }
    }

    .call-to-action {
      button {
        color: #1b1464;
        background: #49d3ff;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    }
  }

  .small-circle {
    width: 10px;
    height: 10px;
    background-color: #24c977;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .table-wrapper {
    border: 1px solid #d3d3d3;
  }

  .table-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    height: 50px;
    font-size: 11px;
    padding: 0 2.5rem;

    .download-icons {
      display: flex;
      gap: 10px;
      img {
        width: 18px;
      }
    }
  }

  .action {
    background-color: #49d3ff;
    border-radius: 4px;
    padding: 5px 14px;
    color: #1b1464;
    font-size: 12px;
    position: relative;
  }

  .paginator-container {
    margin-top: 60px;
  }
}

// Overwrite ngselect styles
.ng-select.custom {
  border: 0px;
  min-height: 0px;
  border-radius: 3px;
  width: 180px;
  font-size: 11px;
  color: #777777;
}

.ng-select.custom .ng-select-container {
  min-height: 0px;
  border-radius: 3px;
}

// Dialog Styles
.dialog-container {
  width: 1000px;
  max-width: 90vw;
}

.content {
  padding: 1rem 4rem 1.7rem 4rem;
}

.modal-cancel-button {
  border: none;
  background: none;
  margin-right: 20px;
}

.modal-submit-button {
  border: none;
  background: #49d3ff;
  padding: 14px 24px;
  border-radius: 4px;
  color: #1b1464;
}
